/* General */
body {
    font-family: "Open Sans", sans-serif;
    color: #2e2d2d;
}

a {
    color: #00b4d8;
    text-decoration: none;
}

a:hover {
    color: #0077b6;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px !important;
}

.school-info {
    display: flex;
    flex-direction: column;
}

.motto {
    font-style: italic;
    font-size: 12px;
}

.img-profile {
    width: 600px;
    height: 480px;
    /* padding: 0 0 5px 0; */
}

/* Header */
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    /* top: 40px; */
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    #header {
        padding: 15px 0;
    }
}

/* desktop navbar */
.navbar {
    padding: 0;
    text-align: right;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #626262;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #0077b6;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #0077b6;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/* mobile navbar */
.mobile-nav-toggle {
    color: #555555;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(60, 60, 60, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #555555;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #0077b6;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #0077b6;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/* slider */
#slider {
    width: 100%;
    height: 100vh;
    background-color: rgba(60, 60, 60, 0.8);
    overflow: hidden;
    position: relative;
}

#slider .carousel,
#slider .carousel-inner,
#slider .carousel-item,
#slider .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#slider .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#slider .container {
    text-align: center;
    background: #1c1f20ac;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 4px solid #0077b6;
}

@media (max-width: 1200px) {
    #slider .container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

#slider h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}

#slider p {
    margin: 0 auto 30px auto;
    color: #fff;
}

#slider .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#slider .carousel-inner .carousel-item,
#slider .carousel-inner .active.carousel-item-start,
#slider .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#slider .carousel-inner .active,
#slider .carousel-inner .carousel-item-next.carousel-item-start,
#slider .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#slider .carousel-inner .carousel-item-next,
#slider .carousel-inner .carousel-item-prev,
#slider .carousel-inner .active.carousel-item-start,
#slider .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#slider .carousel-control-next-icon,
#slider .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: #00b4d8;
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider .carousel-control-next-icon:hover,
#slider .carousel-control-prev-icon:hover {
    background: #00a9ff;
    color: rgba(255, 255, 255, 0.8);
}

#slider .carousel-indicators li {
    list-style-type: none;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}

#slider .carousel-indicators li.active {
    opacity: 1;
    background: #00a9ff;
}

#slider .btn-slider {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    background: #00b4d8;
}

#slider .btn-slider:hover {
    background: #0077b6;
}

@media (max-width: 992px) {
    #slider {
        height: 100vh;
    }

    #slider .container {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    #slider h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    #slider .carousel-control-prev,
    #slider .carousel-control-next {
        width: 5%;
    }
}

@media (max-height: 500px) {
    #slider {
        height: 160vh;
    }
}

/* home */
@media (max-width: 991px) {
    .contact-info {
        margin-bottom: 20px;
    }
}

@media (max-width: 765px) {
    .home-posts {
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact-info {
        margin-bottom: 20px;
    }
}

/* searchbar */
#searchbar-menu {
    background: #00b4d8;
    padding: 10px 50px 10px 0;
}

.btn-search {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    border: 4px;
    transition: 0.5s;
    color: #fff;
    background: #00a9ff;
}

.btn-search:hover {
    color: #fff;
    background: #0077b6;
    transition: 0.5s;
}

/* major */
.majors {
    padding: 80px 0 0 0;
    margin: 0 0 40px 0;
}

.majors h2 {
    padding: 10px 0 20px 0;
}

.desc-major-items h5 {
    color: #fff !important;
}

.major-items {
    padding: 8px 8px 8px 8px;
    color: #fff;
    background-color: #00a9ff;
}

.major-items:hover {
    padding: 8px 8px 8px 8px;
    color: #fff;
    background-color: #0466c8;
}

.major-items img {
    border-radius: 15px 0 0 0;
}

#major-detail {
    padding: 80px 0 0 0;
    margin-bottom: 40px;
}

.text-justify {
    text-align: justify;
}

.major-item img{
    max-width: 1000px;
    max-height: 750px;
}

@media (max-width: 1098px) {
    .major-item img {
        max-width: 850px;
        max-height: 625px;
    }
}

@media (max-width: 991px) {
    .major-item img {
        max-width: 700px;
        max-height: 500px;
    }
}

@media (max-width: 768px) {
    .major-item img {
        max-width: 500px;
        max-height: 375px;
    }
}

@media (max-width: 650px) {
    .major-item img {
        max-width: 375px;
        max-height: 200px;
    }

    .text-justify{
        margin-right: 10px;
        padding-right: 10px;
    }
}

/* post in information */
.page-information {
    padding: 80px 0 0 0;
}

.information-posts h2 {
    padding: 0 0 20px 0;
}

.information-post-items {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    box-shadow: 0px 0px 0px #00a9ff;
    -webkit-transition: box-shadow 0.6s ease-out;
    transition: box-shadow 0.6s ease-out;
    box-shadow: 0.8px 0.9px 3px #00a9ff;
}

.information-post-items:hover {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    box-shadow: 0px 0px 0px #3a3a3a;
    transition: box-shadow 0.5s ease-out;
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow 0.6s ease-in;
}

.filter-posts {
    margin: 30px 0 0 0;
    padding: 15px 0 20px 10px;
    border-radius: 15px;
    color: #fff;
    background-color: #00a9ff;
}

#information-detail {
    padding: 80px 0 0 0;
    margin-bottom: 40px;
}

.information-item img{
    max-width: 1000px;
    max-height: 750px;
}

@media (max-width: 1098px) {
    .information-item img {
        max-width: 850px;
        max-height: 625px;
    }
}

@media (max-width: 991px) {
    .information-item img {
        max-width: 700px;
        max-height: 500px;
    }
}

@media (max-width: 768px) {
    .information-item img {
        max-width: 500px;
        max-height: 375px;
    }
}

@media (max-width: 650px) {
    .information-item img {
        max-width: 375px;
        max-height: 200px;
    }

    .text-justify{
        margin-right: 10px;
        padding-right: 10px;
    }
}

/* post */
.btn-post {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    border: 4px;
    transition: 0.5s;
    color: #fff;
    background: #00a9ff;
}

.btn-post:hover {
    border: 2px solid #00a9ff;
    color: #0077b6;
    background: #fff;
    transition: 0.5s;
}

.post-info i,
.post-info p {
    color: #080808;
}

.card-post {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    box-shadow: 0px 0px 0px #00a9ff;
    -webkit-transition: box-shadow 0.6s ease-out;
    transition: box-shadow 0.6s ease-out;
    box-shadow: 0.8px 0.9px 3px #00a9ff;
}

.card-post:hover {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    box-shadow: 0px 0px 0px #3a3a3a;
    transition: box-shadow 0.5s ease-out;
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow 0.6s ease-in;
}

.card-body h5 {
    font-family: "Roboto", sans-serif;
    color: #080808;
}

.card-body h5:hover {
    font-family: "Roboto", sans-serif;
    color: #00a9ff;
}

/* archives */
.archives {
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    padding: 30px 10px 10px 10px;
    color: #fff;
    background-color: #00a9ff;
}

.archieve-menu a {
    display: block;
    border-radius: 15px;
    padding: 5px 0 5px 10px;
    background-color: #fff;
    color: #555555;
}

.archieve-menu a:hover {
    display: block;
    border-radius: 15px;
    padding: 5px 0 5px 10px;
    background-color: #00a9ff;
    color: #fff;
    border: 2px solid #fff;
}

/* kontak */
.contact-info {
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    padding: 30px 10px 10px 10px;
    color: #fff;
    background-color: #00a9ff;
}

.contact-information-detail ul,
.social-media-info ul {
    list-style: none;
    padding-left: 0;
}

@media (max-width: 580px) {
    .contact-page {
        margin-left: 10px !important;
        margin-right: 20px !important;
    }

    .contacts-info {
        padding-left: 5px !important;
        padding-right: 20px !important;
    }
}

@media (max-width: 575px) {
    .contact-page {
        margin-left: 5px !important;
        margin-right: 10px !important;
        padding-right: 10px !important;
    }
}

/* profil sekolah */
#profile {
    padding: 80px 0 0 0;
}

#visi {
    padding: 100px 0 0 0;
    margin: 0 0 50px 0;
}
.profile-image {
    max-width: 700px;
    max-height: 500px;
}

@media (max-width: 992px) {
    .profile-image {
        max-width: 600px;
        max-height: 400px;
    }

    #profile .container {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    #profile h2 {
        font-size: 28px;
    }

    #profile .container {
        margin-left: 10px;
        padding-left: 0;
    }
}

@media (max-width: 650px) {
    #profile img {
        max-width: 450px;
        max-height: 350px;
    }
}

@media (max-width: 550px) {
    #profile img {
        max-width: 350px;
        max-height: 250px;
    }
}

/* contact */
.contact-page {
    padding: 80px 0 0 0;
}

.contacts-info {
    padding: 15px 15px 15px 15px;
    color: #fff;
    background-color: #00a9ff;
    border-radius: 15px;
}

.contacts-info h2 {
    text-align: center;
    padding: 0 0 0 30px;
}

.contacts-info ul {
    list-style: none;
}

.email-forms {
    border: #0077b6 solid 1px;
    padding: 20px 20px 20px 20px;
    margin: 20px 0 40px 0;
    border-radius: 10px;
}

.email-forms h2 {
    padding: 0 0 20px 0;
    text-align: center;
}

/* gallery */
#gallery {
    padding: 80px 0 0 0;
}

/* footer */
#footer {
    background: #00a9ff;
    padding: 30px 0;
    color: #fff;
}

.footer-top {
    background: #00a9ff;
    padding: 20px 0;
}

.footer-info {
    margin-bottom: 30px;
}

.footer-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.footer-info p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.footer-menus h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}

.footer-menus ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menus ul li {
    margin-bottom: 10px;
}

.footer-menus ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-menus ul li a:hover {
    color: #080808;
}

.copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.copyright strong {
    padding: 0 0 0 4px;
    color: #3a3a3a;
}
